@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue) ;
}


main {
    max-width: 450px;
    height: 400px;
    background-image: linear-gradient(to right, #1f242f, #171e28 );
    color: var(--white);
    border-radius: 35px;
    flex-direction: column;
    padding: 30px 45px;
}



.star {
    width: 45px;
    height: 45px;
    background-color: hsl(211deg 18% 18%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


h1 {
    font-size: 27px;
    font-weight: 400;
    margin: 20px 0;
}

p {
    font-size: 15px;
    color: var(--light-grey);
    line-height: 25px;
}

.rating {
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 20px 0;
    width: 95%;
}


.rating input {
    flex: 1;
    width: 100%;
    appearance: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 15px;
}

.rating input:hover {
    background-color: #7b8797;
    color: var(--white);
}

.rating input:active {
    background-color: var(--orange);
}

.button {
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    height: 45px;
    width: 340px;
    margin-top: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

.button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.thank-you-container {
    text-align: center;
}

span {
    padding: 7px 0px;
    display: block;
    background-color: hsl(220deg 21% 20%);
    width: 55%;
    border-radius: 20px;
    font-size: 15px;
    color: hsl(28deg 62% 48%);
    margin: 20px auto;
}

.thank-you-container h1 {
    margin-top: 30px;
    margin-bottom: 16px;
}

.thank-you-container svg {
    margin-top: 10px;
}